@import 'global.scss';

.wrap {
	display: inline-block;
	text-align: left;

	.userName {
		margin-bottom: 2px;
	}
	.perfisWrap {
		position: relative; // so nested UL can be relatively positioned
		color: $menu-txt-blue;
	}
}
