@import 'global.scss';

.wrap {
	display: inline-block;
	cursor: pointer;
	padding: 0 10px 5px 0; // enlarge to make the menu hover work better

	&:hover {
		.ul {
			visibility: visible;
		}
	}

	.ul {
		position: absolute;
		z-index: 1; // to cover the horizontal menu texts
		padding: 5px 6px;
		left: -7px; // relative to parent, because parent LI has "position: relative"
		top: 6px;
		background-color: $menu-bg-white;
		border: $menu-border-green;
		border-radius: 3px;
		box-shadow: $menu-box-shadow;
		visibility: hidden; // toggled by parent LI

		&:hover {
			visibility: visible; // note: applied on the parent DIV
		}

		.li {
			list-style-type: none;
			max-width: 180px;
			word-wrap: break-word;
			padding: 3px;
			cursor: default;
		}
	}
}
