.wrap {
	animation: fadeIn .75s linear;

	.btnModalOk {
		margin-top: 20px;
	}
	.btnModalOk > input:hover {
		animation: spin .5s;
	}
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to   { transform: rotate(359deg);}
}
