@import 'global.scss';

.checking {
	text-align: center;
	margin-top: 80px;
	font-size: 120%;
	color: $menu-txt-blue;

	& > div {
		margin-top: 12px;
	}
	.sad {
		font-size: 400%;
		margin-bottom: 30px;
		opacity: .6;
		color: $btn-bg-green;
	}
}
