.authErr {
	text-align: center;
	margin-top: 80px;
	font-size: 120%;
	color: #44788d;

	& > div {
		margin-top: 12px;
	}
	.sad {
		font-size: 400%;
		margin-bottom: 30px;
		opacity: .6;
	}
}
.contents {
	margin: 20px;
}
