@import 'global.scss';

.wrap {
	display: inline-flex;
	align-items: center;

	.text {
		font-style: italic;
		margin-right: 6px;
		color: $menu-txt-blue;
	}
	.svg {
		margin: auto;
		display: inline-block;
	}
}
