.content {
	margin: 5px 8px 28px 8px;
	color: #294956;
	display: flex;
	align-items: center;

	.iconInformation, .iconQuestion {
		display: inline-block;
		align-items: center;
		width: 48px;
		height: 48px;
		margin-right: 24px;
	}
	.iconInformation {
		background-image: url('../../images/dialog-information.png');
	}
	.iconQuestion {
		background-image: url('../../images/dialog-question.png');
	}
}
.btnRow {
	text-align: center;
}
