////////////////////////////////////////////////////////////////////////////////
// Variáveis SASS globais.

$app-font: 10pt arial, helvetica, Trebuchet MS, clean, sans-serif;
$txt-black: #333;
$txt-blue: #426d76;
$txt-green: #738f21;
$btn-bg-green: #adc565;

$menu-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .1);
$menu-bg-white: #f6f7f7;
$menu-bg-white-hover: #eee;
$menu-txt-blue: #44788d;
$menu-border-green: 1px solid #aaba75;
$menu-dotted-separator: 1px dotted #aebc82;

////////////////////////////////////////////////////////////////////////////////
// Estilos CSS globais.

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font: $app-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $txt-black;
	background-color: #e9f3f1;
}
h1, h2 {
	color: $txt-blue;
}
button, input[type=button], input[type=submit] {
	cursor: pointer;
	font: $app-font;
	background-color: $btn-bg-green;
	color: white;
	padding: 5px 13px;
	margin: 0 4px;
	border: 0;
	border-radius: 2px;

	&:active { // animação sutil no clique de botão
		transform: translateY(1px);
		background-color: $txt-green;
	}
}
input[type=text], input[type=password], select, textarea {
	font: $app-font;
	border: 1px solid #aeb6c3;
	border-radius: 2px;
	padding: 3px;
}
.txtBlack {
	color: $txt-black;
}
.txtBlue {
	color: $txt-blue;
}
.txtGreen {
	color: $txt-green;
}
