/* App-wide global styles. */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button, input[type=button], input[type=submit] {
	cursor: pointer;
}

/* ReactModal component */

.ReactModal-content {
	position: absolute;
	inset: 40px;
	border: 1px solid rgb(204, 204, 204);
	background: white none repeat scroll 0% 0%;
	overflow: auto;
	/*border-radius: 4px;*/
	outline: currentcolor none medium;
	padding: 20px;
	box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, .75);
}

.ReactModal-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.25);
}
