/* App-wide global styles. */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
button, input[type=button], input[type=submit] {
	cursor: pointer;
}

/* --- ReactModal component ------------------------------------------------- */

.ReactModal-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.ReactModal-content {
	position: absolute;
	/*inset: 40px;*/
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	/*border: 1px solid rgb(204, 204, 204);*/
	background: white none repeat scroll 0% 0%;
	overflow: auto;
	/*border-radius: 4px;*/
	outline: currentcolor none medium;
	/*padding: 20px;*/
	box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, .75);
}
.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}
.ReactModal__Overlay--after-open{
	opacity: 1;
}
.ReactModal__Overlay--before-close{
	opacity: 0;
}
.ReactModal-body { /* from here, our own stuff inside the modal */
	padding: 18px;
}
.ReactModal-footer {
	border-top: 1px solid #ddd;
	margin: 0 4px;
	padding: 10px;
	text-align: center;
}
